.img-overlay {
    padding: 8rem 0;
    text-align: center;
    width: 100%;
    color: white;
}

.img-overlay-title {
    font-size: 3rem;
    font-weight: bold;
}

.img-overlay-description {
    margin: 2rem 4rem 4rem 4rem;
    font-size: 1.2rem;
}

.ui.cards>.card>.content.titlepanel {
    max-height: 45px;
}

.ui.cards>.card>.content.titlepanel.read {
    background-color: #006000;
}

.ui.cards>.card>.content.titlepanel.write {
    background-color: #0000CC;
}

.ui.cards>.card>.content.titlepanel>.title {
    color: white;
}

.ui.cards>.card>.content.featurelist {
    min-height: 90px;
    max-height: 90px;
}

.ui.cards>.card>.content>.description {
    margin-top: 0;
    text-align: justify;
}

.ui.cards>.card>.extra.content {
    border-top: 0!important;
}

.ui.cards>.card>.extra.content.footer {
    min-height: 120px!important;
    margin-top: 0.2rem;
    font-style: italic;
    text-align: justify;
}

.button-explanation {
    margin-top: 0.2rem;
    font-style: italic;
    text-align: justify;
}

.login-button {
    margin-bottom: 0.5rem;
}

.ui.background {
    background-image: url('../images/Backdrop.jpg')!important;
    background-size: cover!important;
}

.ui.top.fixed.menu.firstmenu {
    height: 62px;
}

.ui.top.fixed.menu.secondmenu {
    top: 62px;
    background-color: #404040;
    padding: 1em 1em 0 1em;
    border-bottom: 5px;
    border-bottom-color: #808080;
    border-bottom-style: solid;
}

.ui.top.fixed.menu.secondmenu>p {
    color: white;
}

.ui.menu.secondmenu>.secondmenuitem {
    padding: 0;
}

.ui.menu .link.item {
    text-align: center;
    line-height: 1.2;
}

.ui.menu .mini.image {
    margin-right: 1.5em;
}

.ui.stationfinder {
    width: 100%;
    background-color: olive;
    padding: 1em;
}

.ui.menu:not(.vertical) .item.right.nav-button {
    margin-left: 0!important;
}

.nav-button>.ui.button {
    font-weight: normal;  
}

.nav-button>.ui.green.button {
    background-color: #006000;
}

.nav-button>.ui.blue.button {
    background-color: #0000CC;
}

.ui.menu.secondmenu>.secondmenuitem>.button {
    background-color: #808080;
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.form .field.inline {
    width: 200px;
    display: inline-block;
    margin-right: 50px;
}